
html {
  background: #ccc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: rgb(37, 36, 36);
}

main {
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  margin: 30px;
  background: #fff;
  border: 3px double rgb(37, 36, 36);
  /* box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.2); */
  /* box-shadow: 
  -2px 2px 6px rgba(0, 0, 0, 0.1),
    -5px 5px 20px rgba(0, 0, 0, 0.2); */
  position: relative;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: rgb(57, 177, 10);
}

#actions {
  border-bottom: 1px solid rgb(37, 36, 36);
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
}

#actions button {
  border: none;
  background: linear-gradient(rgb(210, 241, 255), rgb(188, 229, 248));
  border: 1px solid rgb(112, 174, 202);
  background: none;
  border: none;
  padding: 6px 10px;
  color: rgb(29, 50, 236);
  cursor: pointer;
}

#interface {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 40px auto 250px;
}

#canvas-wrap {
  /* aspect-ratio: 1; */
  background: #eee;
}

#canvas {
  display: none;
  /* max-width: 100%; */
  /* height: 100%; */
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee; */
}

#tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-right: 1px solid #ccc;
}

#tools button {
  width: 28px;
  height: 28px;
  border-radius: 40px;
  display: block;
  border: 1px solid #ddd;
  background: rgb(59, 178, 224);
}

#tools button:nth-child(2) { background: rgb(180, 224, 59); }
#tools button:nth-child(3) { background: rgb(59, 224, 141); }
#tools button:nth-child(4) { background: rgb(59, 89, 224); }
#tools button:nth-child(5) { background: rgb(122, 59, 224); }
#tools button:nth-child(6) { background: rgb(224, 111, 59); }
#tools button:nth-child(7) { background: rgb(224, 59, 100); }
#tools button:nth-child(8) { background: rgb(80, 90, 134); }
#tools button:nth-child(9) { background: rgb(53, 90, 51); }

#tools button:hover {
  cursor: pointer;
}

#layers {
  border-left: 1px solid #ccc;
  padding: 10px;
}